@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

      * {
        font-family: "Poppins", sans-serif;
      }
      .card {
        height: 100%;
        padding: 10px;
      }

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .card-text {
        margin-top: auto;
      }

      .card-img-top {
        height: 350px; /* Adjust this as needed for uniformity */
        object-fit: cover;
      }